* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.title {
  text-align: center;
  font-size: 50px;
  color: black;
  background-color: lightblue;
}

.calculator-body {
  height: 800px;
  width: 500px;
  background-color: lightblue;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 30px;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 40% 60%;
}

.top-half-body {
  /* border: solid 5px red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.screen {
  border: black solid 2px;
  height: 140px;
  width: 87%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 20px;
}

.clear-delete-buttons {
  /* border: solid blue 3px; */
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  font-size: 40px;
}

.clear-delete-buttons div {
  border: solid black 2px;
  border-radius: 10px;
  width: 42%;
}

.clear {
  background-color: rgb(249, 156, 156);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.delete {
  background-color: rgb(108, 108, 209);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
}

#main-buttons {
  /* border: red solid 3px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.small-button {
  border: black solid 2px;
  margin: 5px;
  background-color: rgb(148, 148, 148);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 10px;
}

.hover-small-btn {
  background-color: rgb(95, 95, 95);
  cursor: pointer;
}

.hover-clear-btn {
  background-color: rgb(241, 113, 113);
  cursor: pointer;
}
.hover-delete-btn {
  background-color: rgb(75, 75, 201);
  cursor: pointer;
}
